body{
    
}
#banner {
    width:100%;
}
.principal
 {
    background: #cccccc ;
    padding: 30px;
 }
 h1{
    text-aling: center;
 } 
 p{
    text-aling: center;
 } 
 em estrong {
    text-aling: center;
 }
#missao{
    font-size: 20px;
}
.itens{
    font-style:italic
}
.beneficios{
    background:#FFFFFF;
     padding: 20PX;
}
em strong{ 
    color:black
}
h2 {
    text-align: center;
}
ul{
   display:inline-block;
   vertical-alig:top;
   width:20%;
   margin-ringht:15% 
}
  .imagembeneficios{
    width:50%;
  }  
